body{
    background: linear-gradient(to right, #4cb8c4, #3cd3ad);
}

.navbar {
    background: linear-gradient(to right, #02aab0, #00cdac);
}

.navbar-brand {
    color: white!important;
}

.nav-link {
    color: white!important;
}

.cardSection {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100vw;
    height: auto;
}

.card > img {
    width: 100%;
    height: 40vh;
}

.card {
    width: 85%;
    border: red;
    margin: 20px auto;
}

#form {
    width: 95%;
    margin: 10px auto;
}

.btn-primary {
    background-color: lightseagreen;
    border: lightseagreen;
    color: linen;
}

.list-group-item {
    width: 50%;
    margin: 15px auto;
    border-radius: 10px;
    min-width: 350px;
}

.list-group-item img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0 auto;
    
}

.formSection {
    margin-top: 25px;
}

.formSection hr {
    margin-top: 20px;
}

.formDiv{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 50%;
    margin-top: 20px;
    padding-top: 15px;
    border-radius: 5px;
    padding-bottom: 25px;
    min-width: 350px;
}

.titleP {
    color: white;
    margin-top: 8rem;
    margin-bottom: 4rem;

}